@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import './Colors.scss';

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $grey4;
}

::-webkit-scrollbar {
  width: 0px;
}